<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIXggloUngTrOrClZljV603zHMmE6BpK0</string>
	<key>GCM_SENDER_ID</key>
	<string>355422990462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whitelab.cryptocurrencyconverter</string>
	<key>PROJECT_ID</key>
	<string>cryptoconvertercurrencyassets</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoconvertercurrencyassets.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355422990462:ios:b578b96b5c0eeaca0d682f</string>
</dict>
</plist>